Fl Studio v20.8.4 or later (With Extensions)
FLEX and Library (Steinway D & Cello & Yamaha C7 & All Strings Staccato & Dark Star Metal)
FPC
VB-ROYAL
Kontakt 6
Strummed Acoustic
Electric Sunburst Deluxe
Studio Drummer
Symphony Series String Ensemble
